## Deep Dive into Operators

### Video Outline:
1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

In [2]:
## Arithmethic Operation

a=42
b = 4

# add_result=a+b  #addiiton
# sub_result=a-b  #substraction 
# mult_result=a*b #multiplication
# div_result=a/b  #division
# floor_div_result=a//b ## floor division
# modulus_result=a%b #modulus operation

# exponent_result=a**b ## Exponentiation

add_result=a+b # addition
sub_result=a-b # substraction
mult_result=a*b # multiplication
div_result=a/b # division
floor_div_result=a//b # floor division
modulus_result=a%b # modulus operation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)

46
38
168
10.5
10
2

In [5]:
10/5

2.0

In [6]:
21/5

4.2

In [7]:
21//5

4

#### Comparison Operators

In [ ]:
## Comparison Operators
## == Equal to
# a=10
# b=10

# a==b
# a!=b # return false, as two values match.

num1 = 10
# num2 = 12
num2 = 10

# num1 == num2 # false
num1!=num2 # will return false as num2 becomes 10

False

In [ ]:
str1="Krish"
# str2 = "Krish"
str2="Arit"

# str1==str2
str1!=str2 # False.

str1==str2 # false, as values are different.
str1!=str2

True

In [12]:
## Not Equal to !=
str1!=str2

False

In [ ]:
str3="Krish"
str4="krish"

str3!=str4 # True as one value in one of the string is lowercase(k in str4)

True

In [ ]:
# greater than >

# num1=45
# num2=55

# num1>num2

num1 = 43
num2 = 100

# num1 > num2 # false
# lesser than
num2 < num1 # false
num2 > num1

True

In [18]:
#greater than or equal to
# as one of the operator is evaluating the condition.
n1 = 45
n2 = 45
print(n1>n2) # false
print(n1 >= n2) # as True
print(n1 < n2) # false
print(n1 <= n2) # true

False
True
False
True

In [ ]:
#less than or equal to
number1=44
number2=45

print(number1<=number2) # true.
print(number2 >= number1) # true.

True
True

#### Logical Operators

- AND -> It strictly checks for both the condition to be True or False.
- OR -> It checks if any of the condition is right or True. 
- NOT -> It converts condition results (True to False and vice versa). Specially, it changes the output of any condition to opposite.

In [ ]:
## And ,Not,OR

x = True
y = True

# print(x==y)
# print(x!=y)

result = x and y
# print(result)
result1 = x or y
# print(result1)

result2 = not(x and y) # it converts the actual datatype or bool value to opposite (True -> False and vice versa)
print(result2)

False

In [25]:
x = False
y = True

result = x and y
print(result)

False

In [27]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [ ]:
# Not operator -> it reverses the bool value and also the condition when it is used.
# X=False
# not X

x = True
not x

False

In [26]:
## Simple Calculator

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

addition = a + b
substraction = a - b
multiplication = a * b
division = a / b
floor_division = a // b
modulus = a % b
exponentiation = a ** b

print(addition)
print(substraction)
print(multiplication)
print(division)
print(floor_division)
print(modulus)
print(exponentiation)

135.0
111.0
1476.0
10.25
10.0
3.0
1.1991163848716907e+25