#### The map() Function in Python
The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [2]:
def cube(x):
    return x**3
print(cube(3))

27

In [5]:
numbers=[1,2,3,4,5,6,7,8]

# list(map(lambda x: x**2, numbers))
# list(map(lambda x : x % 2 !=0, numbers))

def cube1(x):
    return x**3

list(map(cube1, numbers))

[1, 8, 27, 64, 125, 216, 343, 512]

In [6]:
## Lambda function with map

num = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x : x*x, num))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
### Map multiple iterables

# numbers1 = [1,2,3]
# numbers2 = [4,5,6]

# list(map(lambda x,y: x*y, numbers1, numbers2))

first_name = ["arit", "soham", "dadu", "gabda"]
second_name = ["gon", "gon", "gon", "gon"]

list(map(lambda x,y: x + " " + y, first_name, second_name))

['arit gon', 'soham gon', 'dadu gon', 'gabda gon']

In [29]:
## map() to convert a list of strings to integers
# Use map to convert strings to integers

str_numbers = ["1", "2", "3", "4", "5"]
# str_numbers = ["soham", "arit"]

# list(map(lambda x : int(x), str_numbers))

# name = {"soham"}
# print(name)

int_numbers = [1,2,3,4,5]

list(map(lambda x : str(x), int_numbers))

['1', '2', '3', '4', '5']

In [ ]:
words=['apple','banana','cherry']
# upper = list(map(str.upper, words))
uppercase = list(map(str.capitalize, words))
print(uppercase)

['Apple', 'Banana', 'Cherry']

In [24]:
# def get_name(person):
#     return person['name']

# people=[
#     {'name':'Krish','age':32},
#     {'name':'Jack','age':33}
# ]
# list(map(get_name,people))

def get_name(person):
    return person['name'], person['age']

people=[
    {'name':'Krish','age':32},
    {'name':'Jack','age':33}
]

list(map(get_name, people))

[('Krish', 32), ('Jack', 33)]

#### Conclusion
The map() function is a powerful tool for applying transformations to iterable data structures. It can be used with regular functions, lambda functions, and even multiple iterables, providing a versatile approach to data processing in Python. By understanding and utilizing map(), you can write more efficient and readable code.

In [25]:
def get_salary_list(object):
    return object['salary']

object = [
    {"name" : "soham", "age": 24, "salary": 15000},
    {"name" : "deb", "age": 42, "salary": 1500000}
]

list(map(get_salary_list, object))

[15000, 1500000]