# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [4]:
print(f"first value of the tuple: ", tpl[0])
print(f"middle value of the tuple : ", tpl[len(tpl) // 2])
print(f"last value of the tuple: ", tpl[-1])

first value of the tuple:  1
middle value of the tuple :  6
last value of the tuple:  10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [5]:
print(f"first three elements : ", tpl[0:3])
print(f"last three elements : ", tpl[-3])
print(f"elements from index 2 to 5 : ", tpl[2:6])

first three elements :  (1, 2, 3)
last three elements :  8
elements from index 2 to 5 :  (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [7]:
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)

concatenated_tuple = tpl1 + tpl2 + ("soham", 'gon')
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 'soham', 'gon')

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
tpl = (1, 2, 2, 3, 5, 4, 4, 6, 7, 8, 9)

TypeError: tuple indices must be integers or slices, not tuple

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [5]:
tpl = (1,2,3,4,5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
# conversion of list to tuple.
lst = [1,2,3,4,5]
tpl = tuple(lst)
print(type(tpl), tpl)

<class 'tuple'> (1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
tpl_of_tpls = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

# tpl_of_tpls
for i in tpl_of_tpls:
    for j in i:
        print(j * j, end = " ")
    print()

1 4 9
16 25 36
49 64 81

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [13]:
tpl = (1,2,3,4,5)
lst = list(tpl)
lst.append(6)
tpl1 = tuple(lst)
print(tpl1)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
string = tuple("sri lanka")
string1 = ''.join(string)
print(string1)

sri lanka

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [30]:
tpl_dict = {
    (1,2): "soham",
    (3,4): "arit",
    (5,6): "Nxt"
}
# print(tpl_dict[(1,2)])
print(tpl_dict)

{(1, 2): 'soham', (3, 4): 'arit', (5, 6): 'Nxt'}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [32]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for j in tpl:
        print(f"{tpl} * {j} - {tpl * j}")

(1, 2, 3) * 1 - (1, 2, 3)
(1, 2, 3) * 2 - (1, 2, 3, 1, 2, 3)
(1, 2, 3) * 3 - (1, 2, 3, 1, 2, 3, 1, 2, 3)
(4, 5, 6) * 4 - (4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6)
(4, 5, 6) * 5 - (4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6)
(4, 5, 6) * 6 - (4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6)
(7, 8, 9) * 7 - (7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9)
(7, 8, 9) * 8 - (7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9)
(7, 8, 9) * 9 - (7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9)

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [ ]:
tpl = (1,1,1,2,3,4,5,5,5,6)
set = set(tpl) # set doesn't allow duplicate values while tuple and list does allow.
print(set)

{1, 2, 3, 4, 5, 6}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [35]:
def min_of_tpl(tpl):
    return min(tpl)

def max_of_tpl(tpl):
    return max(tpl)

tpl = (1,2,3,4,5,6,7,0)
print(min_of_tpl(tpl))
print(max_of_tpl(tpl))

0
7